.darks {
  position: relative;
  top: 0;
  left: 0;
}
.dark {
  position: relative;
  top: 0;
  left: 0;
}
.ellipse {
  position: absolute;
  top: 60px;
  left: 80px;
}

.chat{
position: sticky;
    top: 100%;
    bo

}
